@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .translate-101 {
    transform: translateX(101%);
  }

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
}

/* Font Application Rules */
* {
  font-family: var(--font-sans);
}

.heading {
  font-family: var(--font-heading);
  /* font-weight: 100; */
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: #262525;
  /* --foreground: #80011f; */
  --card: oklch(0.9911 0 0);
  --card-foreground: oklch(0.0847 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.0847 0 0);
  /* --primary: #BA9A67; */
  --primary: #cda52f;
  /* --primary: oklch(0.5210 0.2138 29.2339); */
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9612 0 0);
  --secondary-foreground: oklch(0.0847 0 0);
  --muted: oklch(0.9761 0 0);
  /* --muted-foreground: oklch(0.5278 0 0); */
  --muted-foreground: oklch(0.9383 0.0063 75.41);
  --accent: oklch(0.9560 0.0218 17.5403);
  --accent-foreground: oklch(0.2178 0 0);
  --destructive: oklch(0.0847 0 0);
  /* --destructive: oklch(0.6290 0.1902 23.0704); */
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9219 0 0);
  --input: oklch(0.9219 0 0);
  --ring: oklch(0.0847 0 0);
  /* --ring: oklch(0.6280 0.2577 29.2339); */
  /* --ring: oklch(0.6280 0.2577 29.2339); */
  --chart-1: oklch(0.7459 0.1483 156.4499);
  /* --chart-2: oklch(0.6280 0.2577 29.2339); */
  --chart-2: oklch(0.0847 0 0);
  --chart-3: oklch(0.7336 0.1758 50.5517);
  --chart-4: oklch(0.5828 0.1809 259.7276);
  --chart-5: oklch(0.5590 0 0);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.0847 0 0);
  /* --sidebar-primary: oklch(0.6280 0.2577 29.2339); */
  --sidebar-primary: oklch(0.0847 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9560 0.0218 17.5403);
  --sidebar-accent-foreground: oklch(0.2178 0 0);
  --sidebar-border: oklch(0.9219 0 0);
  /* --sidebar-ring: oklch(0.6280 0.2577 29.2339); */
  --sidebar-ring: oklch(0.0847 0 0);
  /* --font-sans: "Vend Sans", sans-serif; */
  --font-sans: "neue-frutiger-world", sans-serif;
  --font-serif: serif;
  --font-mono: IBM Plex Mono, monospace;
  --font-heading: "bennet-banner", serif;
  /* --font-heading: "Vend Sans", sans-serif; */
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

/* .dark {
  --background: oklch(0.1776 0 0);
  --foreground: oklch(0.9702 0 0);
  --card: oklch(0.2264 0 0);
  --card-foreground: oklch(0.9702 0 0);
  --popover: oklch(0.1776 0 0);
  --popover-foreground: oklch(0.9702 0 0);
  --primary: oklch(0.6489 0.2370 26.9728);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2972 0 0);
  --secondary-foreground: oklch(0.9702 0 0);
  --muted: oklch(0.2972 0 0);
  --muted-foreground: oklch(0.6500 0 0);
  --accent: oklch(0.2741 0.0595 21.7432);
  --accent-foreground: oklch(0.7445 0.1550 21.5035);
  --destructive: oklch(0.7106 0.1661 22.2162);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.6489 0.2370 26.9728);
  --chart-1: oklch(0.8003 0.1821 151.7110);
  --chart-2: oklch(0.6489 0.2370 26.9728);
  --chart-3: oklch(0.8077 0.1035 19.5706);
  --chart-4: oklch(0.6691 0.1569 260.1063);
  --chart-5: oklch(0.7058 0 0);
  --sidebar: oklch(0.1957 0 0);
  --sidebar-foreground: oklch(0.9702 0 0);
  --sidebar-primary: oklch(0.6489 0.2370 26.9728);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.2741 0.0595 21.7432);
  --sidebar-accent-foreground: oklch(0.7445 0.1550 21.5035);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.6489 0.2370 26.9728);
  --font-sans: "neue-frutiger-world", sans-serif;
  --font-serif: serif;
  --font-mono: IBM Plex Mono, monospace;
  --font-heading: "bennet-banner", serif;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.13);
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
